/* ESTILO GERAL */
*{
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0 auto;
    align-items: justify;
  
}
body{
    background-color: black;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

}
span{
    color: rgba(241, 170, 15, 0.856);
}
.legenda-imagem p{
    width: 500px;
    margin-top: 20px;
}

/* INTRO */
h1{
    margin-top: 50px;
}

.intro p{
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
}
/* TODOS OS EXEMPLOS */
.legenda-imagem img{
    width: 350px;
    right: 350px;
    margin-top: 20px;
  
}
/* FIM */
.fim p{
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 1000px){
    /* CLASSES GERAIS */
    .intro h1{
     font-size: 30px;
    }
    .intro{
      flex-direction: column;
      gap: 40px;
      padding: 20px 8%;
    }
    p{
        margin-left: 5px;
        margin-right: 5px;
    }
    .legenda-imagem{
        flex-direction: column;
        gap: 20px;
    }
    .legenda-imagem p{
        justify-content: center;
    }
    
}